<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="module_category_{{ module }}" model="ir.module.category">
        <field name="name">{{ module }}</field>
    </record>

    <record id="group_{{ module }}_user" model="res.groups">
        <field name="name">User</field>
        <field name="category_id" ref="module_category_{{ module }}"/>
    </record>

    <record id="group_{{ module }}_manager" model="res.groups">
        <field name="name">Manager</field>
        <field name="category_id" ref="module_category_{{ module }}"/>
        <field name="implied_ids" eval="[(4, ref('group_{{ module }}_user'))]"/>
    </record>
</odoo>
